page-home {
    ion-content{
        background: red;
    }
    .coverPhoto, .coverPhoto1{
        transition: 300ms;
        width: 100%;
        height: 250px;
        object-fit: cover;
    }
    .desc{
        position: absolute;
        color: white;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        h4{
            text-shadow: 0 0 15px black;
        }
    }
    .appName{
        position: absolute;
        left: 50%;
        top: 20px;
        transform: translateX(-50%);
        color: white;
        text-shadow: 0 0 10px black;
        font-size: 20px;
        text-transform: uppercase
    }
    .top{
        position: relative;
    }
    .imgcont{
        width: 100%;
        height: 150px;
        object-fit: cover;
    }
    .special{
        color: white;
        text-shadow: 0 0 10px black;
        font-size: 16px;
        position: absolute;
        left: 10px;
        top: 85%
    }
    .content{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        padding: 2px;
        text-align: center;
        padding-top: 20px;
    }
    .card{
        
        position: relative;
        width: 45%;
        margin: 5px;
        // border: 1px solid grey
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.288);
        border-radius: 5px;
        margin: 5px auto;
        p{
            padding:5px;
        }
    }
    .price{
        position: absolute;
        right: 10px;
        top: 10px;
        color: white;
        text-shadow: 0 0 10px black;
        font-size: 10px;
    }
    ion-fab{
        button{
            text-shadow: 0 0 10px black;
        box-shadow: 0 0 10px rgba(114, 80, 80, 0);
        }
    }
}
